// Reusuable classes

.container {
  max-width: 1300px;
  height: 100%;
  margin: 0 auto;
}

.block-title {
  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 51px;
}

.block-pretitle {
  font-size: 23px;
  line-height: 36px;

  letter-spacing: 0.01em;
}

.block-text {
  font-size: 20px;
  line-height: 35px;

  letter-spacing: 0.01em;
}

.block-head {
  text-align: center;
}

.title-md {
  margin-bottom: 10px;

  font-family: "Playfair Display", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 37px;
  letter-spacing: 0.04em;
}

.title-md-bold {
  font-weight: 700;
  font-size: 25px;
  line-height: 33px;
  letter-spacing: 0.04em;
}

.w-252 {
  max-width: 252px;
}

.w-309 {
  max-width: 309px;
}

.w-319 {
  max-width: 319px;
}

.w-422 {
  max-width: 422px;
}

.w-462 {
  max-width: 462px;
}

.w-522 {
  max-width: 522px;
}

.w-683 {
  max-width: 683px;
}

.pd-30 {
  padding-top: 30px;
}

.pd-40 {
  padding-top: 40px;
}
