.blog {
  margin-top: 180px;

  @media (max-width: 968px) {
    margin-top: 100px;
  }

  .blog-content {
    .blog-posts {
      margin-top: 78px;

      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media (max-width: 1282px) {
        justify-content: center;
      }

      .blog-post {
        @media (max-width: 1282px) {
          margin-top: 20px;
          // margin-right: 20px;
          margin-left: 20px;
        }

        figure {
          background-color: #fcf9f6;

          transition: all 0.3s linear;

          &:hover {
            background-color: #e4dad1;
            cursor: pointer;
          }

          img {
            @media (max-width: 468px) {
              width: 100%;
              height: auto;
            }
          }

          figcaption {
            padding: 18px 29px 0;

            @media (max-width: 411px) {
              padding: 18px 70px 0;
            }

            .post-data {
              margin-bottom: 30px;

              font-size: 14px;
              line-height: 147.5%;

              letter-spacing: 0.17em;
            }

            .post-btn {
              margin: 50px 0 67px 75px;
              padding: 18px 35px 20px;

              display: inline-block;

              font-weight: 500;
              font-size: 18px;
              line-height: 22px;
              letter-spacing: 0.01em;
              color: #839694;

              border: 2px solid #839694;

              @media (max-width: 468px) {
                margin: 30px 0;
              }
            }
          }
        }
      }
    }
  }
}
