.contacts {
  margin: 380px 0 180px 170px;

  position: relative;

  @media (max-width: 1600px) {
    margin: 100px auto;
  }

  .contacts-content {
    @media (max-width: 1600px) {
      display: flex;
    }

    @media (max-width: 1600px) {
      flex-direction: column;
      align-items: center;
    }

    .google-map {
      position: absolute;
      left: 600px;
      bottom: 100px;
      z-index: -1;

      @media (max-width: 1600px) {
        position: relative;
        left: 0;
        bottom: 0;
        z-index: 1;
      }

      img {
        @media (max-width: 968px) {
          width: 100%;
          height: auto;
        }
      }
    }

    .contacts-block {
      padding: 50px 93px;

      //   width: 552px;
      //   height: 531px;

      width: 50%;
      height: 531px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      background-color: #fff;
      box-shadow: 9px 9px 25px rgba(0, 0, 0, 0.08);

      @media (max-width: 968px) {
        width: 100%;
        height: auto;
      }

      @media (max-width: 468px) {
        padding: 20px 45px;
      }

      .contacts-logo {
        display: flex;

        .logo-title {
          margin-right: 5px;

          max-width: 90px;

          font-weight: 700;
          font-size: 12px;
          line-height: 15px;
        }
      }

      .contacts-info {
        .info-title {
          margin-bottom: 18px;

          max-width: 380px;

          font-weight: 600;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.01em;
        }

        ul {
          li {
            display: flex;

            .schedule {
              display: flex;
              flex-direction: column;
            }

            &:before {
              content: url("../images/contacts-vector.svg");
              margin-right: 10px;
            }
          }
        }
      }

      .contacts-socials {
        align-self: flex-end;

        a {
          &:not(:last-child) {
            margin-right: 5px;
          }
        }
      }
    }
  }
}
