.header {
  padding: 29px 0 25px;

  background-color: #fcf9f6;
  color: #000000;

  .header-content {
    min-height: 651px;

    .header-top {
      display: flex;
      justify-content: space-between;
      // align-items: center;

      // @media (max-width: 500px) {
      //   justify-content: center;
      // }

      .logo {
        @media (max-width: 968px) {
          order: 1;
        }
      }

      .header-nav {
        align-self: flex-start;

        // @media (max-width: 992px) {
        //   display: none;
        // }

        .nav-toogler {
          @media (max-width: 968px) {
            display: block;
            position: relative;
            width: 30px;
            height: 20px;
            z-index: 3;
          }

          span {
            @media (max-width: 968px) {
              position: absolute;
              background-color: #000;
              left: 0;
              width: 100%;
              height: 2px;
              top: 9px;
              transition: all 0.3s ease 0s;
            }
          }

          &:before,
          &:after {
            @media (max-width: 968px) {
              content: "";
              background-color: #000;
              position: absolute;
              width: 100%;
              height: 2px;
              left: 0;
              transition: all 0.3s ease 0s;
            }
          }

          &:before {
            @media (max-width: 968px) {
              top: 0;
            }
          }

          &:after {
            @media (max-width: 968px) {
              bottom: 0;
            }
          }
        }

        .nav-toogler.active span {
          transform: scale(0);
        }

        .nav-toogler.active::before {
          transform: rotate(45deg);
          top: 9px;
        }

        .nav-toogler.active::after {
          bottom: 9px;
          transform: rotate(-45deg);
        }

        ul.active {
          @media (max-width: 968px) {
            top: 0;
            padding: 130px 0 0 50px;
          }

          li {
            @media (max-width: 968px) {
              margin-top: 25px;
            }

            a {
              @media (max-width: 968px) {
                color: #000;
                font-size: 20px;
                font-weight: 700;
              }
            }
          }
        }

        ul {
          display: flex;

          @media (max-width: 968px) {
            display: flex;
            flex-direction: column;
            position: fixed;
            top: -100%;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(#fafafa, 0.9);
            transition: all 0.3s ease 0s;
          }

          li {
            &:not(:last-child) {
              margin-right: 33px;
            }

            a {
              font-size: 16px;
              line-height: 20px;
              font-weight: 400;
              letter-spacing: 0.01em;
              color: #000000;
            }
          }
        }
      }

      .phone-order {
        display: flex;
        flex-direction: column;

        @media (max-width: 968px) {
          order: 2;
        }

        @media (max-width: 500px) {
          display: none;
        }

        .header-phone {
          font-size: 18px;
          font-weight: 700;
          line-height: 22px;
        }

        .order {
          margin-top: 4px;

          align-self: flex-end;

          font-size: 16px;
          line-height: 20px;
          font-weight: 400;
          letter-spacing: 0.01em;
          cursor: pointer;

          border-bottom: 1px solid #6b7b7a;
        }
      }
    }

    .header-hero {
      padding-top: -20px;

      min-height: 569px;
      background: url("../images/header-hero.png") no-repeat right -65px bottom -88px;

      @media (max-width: 1280px) {
        background: url("../images/header-hero.png") no-repeat right -65px bottom -188px;
      }

      @media (max-width: 968px) {
        background: none;
      }

      .hero-text {
        padding-top: 110px;

        .title {
          max-width: 839px;

          font-family: "Playfair Display", sans-serif;
          font-size: 68px;
          line-height: 91px;
          font-weight: 700;

          @media (max-width: 500px) {
            font-size: 48px;
          }
        }

        .post-title {
          margin: 36px 0 79px;
          max-width: 452px;

          font-weight: 500;
          font-size: 26px;
          line-height: 34px;
        }

        .header-btn {
          padding: 26px 37px 28px 42px;

          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.01em;
          color: #ffffff;

          background-color: #3e817a;

          @media (max-width: 411px) {
            padding: 20px 30px 22px 35px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
